<!DOCTYPE html5>
<html>
    <head>
        <meta http-equiv="refresh" content="3" />
        <title>Главная страница</title>
        <style>
            #ufanet-title {
                color:rgba(139, 0, 255);
            }
            .left-text {
                float: left;
            }
            header {
                width: 100%;
                background-color: coral;
                color: coral;
                height: 100px;
                display: flex;
                justify-content:space-between;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="left-text">
                <h1 id="ufanet-title">Ufanet</h1> <br>
            </div>
        </header>
        <main>
            {{.lastCall}}
            <form action="">
                <button type="submit" value="yes">Открыть</button> <br>
                <button type="submit" value="no">Отмена</button>
            </form>
        </main>
    </body>
</html>