<!DOCTYPE html5>
<html>
    <head>
        <title>Главная страница</title>
        <style>
            #ufanet-title {
                color:rgba(139, 0, 255);
            }
            .left-text {
                float: left;
            }
            header {
                width: 100%;
                background-color: coral;
                color: coral;
                height: 100px;
                display: flex;
                justify-content:space-between;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="left-text">
                <h1 id="ufanet-title">Ufanet</h1> <br>
            </div>
        </header>
        <br>
        <main>
            <a href="/category">Информация по категориям</a> <br>
            <a href="/sale">Информация по скидкам</a>
        </main>
    </body>
</html>